*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1.25fr 1fr;
}
#contact-list{
    background-color: aqua;
}
#chat-section{
    background-color: blanchedalmond;
}
#contact-information-section{
    background-color: burlywood;
}